@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'roboto', sans-serif;
}

.header {
    background-color: #1f2937;
    color: white;
}

.header-top {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
}

nav ul { 
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 50px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.header-body {
    background-color: #1f2937;
}

.header-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 60px;
    margin-right: 170px;
    color: white;
    padding: 50px;    
}

h1 { 
    font: weight 900px;
    font-size: 48px;
    color: #f9faf8;
}

.subtext, ul {
    font-size: 18px;
    color: #e5e7eb;
}

.hb-right {
    display: flex;
    flex-direction: column;
    padding: 80px;
    margin: 20px;
    gap: 10px;
}

.su{
    background-color: #3882f6;
    color: white;
    width: 100px;
    border: none;
    border-radius: 7px;
    font-weight: 900;
    cursor: pointer;
    padding: 5px;
}
