* {
    padding: 0;
    margin: 0;
}

.header-top {
    display: flex;
    background-color: #1f2937;
    justify-content: space-around;
}

.header { 
    color: white;

}

ul { 
    display: flex;
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}